<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temp Readings</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {          
          text-align: left, center;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #D6EEEE;
        }
    </style>
</head>
<body>
    <h1>Sensor Data Readings</h1>
    
    <table>        
        <tr>
            <th>Sensor</th>
            <th>Date & Time</th>
            <th>Humidity Reading</th>
            <th>Temp Reading</th>
            <th>Weather Today</th>            

        </tr>        
        {% for reading in readings %}
            <tr>                
                <td>
                    {{ reading['sensor'] }}
                </td>
                <td>
                    {{ reading['datetime'] }}
                </td>
                <td>
                    {{ reading['humidity'] }}
                </td>
                <td>
                    {{ reading['temp'] }}
                </td>
                <td>
                    {{ reading['weather'] }}
                </td>                
            </tr>
        {% endfor %}
    </table>

</body>
</html>